.main {
  background-color: #e0e8f6;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

.heroSection {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section {
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
  width: 100%;
}

.sectionOverflow {
  height: auto;
  min-height: 100vh;
}

.sectionFooter {
  margin-bottom: 0;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .section {
    margin-bottom: 80%;
  }
}
