.main {
  background-color: #e0e8f6;
  height: 100vh;
  overflow-y: scroll;

  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.heroSection {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section {
  scroll-snap-align: start;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15%;
  width: 100%;
}

.sectionOverflow {
  height: auto;
  min-height: 100vh;
}
